<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="content_header"><small>Portfolio of Karthika</small></h2>
            <section class="main_content">
                <div class="content_header">
                    <img src="images/profile1.jpg" alt="Photo of Karthika Arumugam - Front-end Developer" width="140" class="alignleft size-full img-responsive">
                    <p> I am a front-end developer, graduate of Computer Applications.
                    I have experience providing responsive front-end development for various clients.
                    I develop clean and elegant web pages with semantic, pixel perfect and responsive layout.
                    My day-to-day work involves cutting and slicing PSDs and converting them to hand-coded Semantic HTML5, CSS3 and
                    adding Javascript/jQuery magic with cross-browser compatibility.
                    I design responsive websites for mobiles, tablets and PCs using CSS media queries.
                    I also worked on AngularJS, ExtJS applications with Bootstrap and LESS for styles. </p>
                    <p> I am experienced with Agile approach and used Github for version control in my previous projects.
                    I have worked majorly on Commonspot and Drupal in CMS.
                    I am proficient with Photoshop, Eclipse, Dreamweaver and Sublime.
                    Having wide range of knowledge and experience,
                    I am very much capable of working independently as well as part of a team.</p>
                </div>
            </section>
        </div>
        <div class="col-lg-12">
            <h2 class="content_header"><small>My Skills ...</small></h2>
            <section class="sub-content">
                    <svg id="chart" onload="d3_skills()"></svg>
            </section>
        </div>
        <div class="col-lg-12">
            <h2 class="content_header"><small>Front-end Developer</small></h2>
            <section class="sub-content">
                <div>
                    <div class="logos">
                        <div class="logo">
                            <img src="images/html5.png" alt="html5" width="80" height="91" class="alignnone size-full">
                            <strong>HTML5</strong>
                        </div>
                        <div class="logo">
                            <img src="images/css3.png" alt="css3" width="80" height="91" class="alignnone size-full">
                            <strong>CSS3</strong>
                        </div>
                        <div class="logo">
                            <img src="images/js.png" alt="js" width="80" height="80" class="alignnone size-full">
                            <strong>JavaScript</strong>
                        </div>
                        <div class="logo">
                            <img src="images/jquery.png" alt="js" width="80" height="80" class="alignnone size-full">
                            <strong>jQuery</strong>
                        </div>
                        <div class="logo">
                            <img src="images/angular.png" alt="angular" width="80" height="84" class="alignleft size-full">
                            <strong>AngularJS</strong>
                        </div>
                    </div>
                    <p> I create responsive websites that allow the user to experience your website in the best and
                    most appropriate way suited to the device they are using. I deliver websites with a responsive layout
                    that can best make use of the space available on the smallest to largest devices.
                    Cross browser compatibility is ensured by using feature detection so older browsers still in use today
                    provide a solid experience, whilst modern browsers can go the next step and
                    enhance a user’s time spent on your site.</p>
                    <p> Writing semantic markup that is documented and easy to read for better scaling and future maintenance,
                        and allows co-workers to quickly work with it. </p>
                    <p> I design component based layouts, where components exist seperate on a website;
                        outside of the context of your design compositions. I then
                        With these components I produce a style guide that acts as a document for a reusable and
                        maintainable code base. All involved in a project can rely on a style guide
                        to understand a project’s language and produce a more consistent user experience. </p>
                    <p> I can quickly and efficiently join your team using continuous-integration with methods and tools such as Git,
                        Jenkins, and Agile/Scrum development.</p>
                </div>
            </section>
        </div>
        <div class="col-lg-12">
            <h2 class="content_header"><small>Design</small></h2>
            <section class="sub-content">
                <div class="logos">
                    <div class="logo">
                        <img src="images/ps.png" alt="photoshop" width="80" height="91" class="alignnone size-full">
                        <strong>Photoshop</strong>
                    </div>
                    <div class="logo">
                        <img src="images/illustrator.jpg" alt="illustrator" width="80" height="84" class="alignleft size-full">
                        <strong>Illustrator</strong>
                    </div>
                    <div class="logo">
                        <img src="images/fw.png" alt="fireworks" width="80" height="84" class="alignleft size-full">
                        <strong>Fireworks</strong>
                    </div>
                </div>
                <div>
                    <p> I convert Prototypes to high-performance code.
                        I consider design to be just as important as development and aim
                        to combine both to produce high quality user experience.</p>
                    <p> I have many years experience with Adobe Products; Photoshop, Illustrator, and Fireworks.
                        My preferred design application for creating mockups and wireframes is Photoshop.</p>
                </div>
            </section>
        </div>

    </div>


</div>

<script src="js/d3chart.js"></script>
